import(shiny)
import(venn)
import(admisc)
importFrom("utils", "packageDescription", "remove.packages", "capture.output", "data", "loadhistory", "savehistory", "tail")
importFrom("stats", "glm", "predict", "quasibinomial", "binom.test", "cutree", "dist", "hclust", "na.omit", "dbinom", "setNames")
importFrom("grDevices", "dev.cur", "dev.new", "dev.list")
importFrom("graphics", "abline", "axis", "box", "mtext", "par", "title", "text")
importFrom("methods", "is")

useDynLib(QCA, .registration = TRUE)

export(.onAttach,
    allExpressions,
    as.panel,
    calibrate,
    causalChain,
    combint,
    createMatrix,
    eqmcc,
    export,
    findmin,
    findRows,
    findSubsets,
    findSupersets,
    findTh,
    fuzzyand,
    fuzzyor,
    getRow,
    makeChart,
    minimize,
    minimizeLoop,
    modelFit,
    pof,
    pofind,
    rebuild,
    removeRedundants,
    retention,
    runGUI,
    setRownames,
    setColnames,
    setDimnames,
    solveChart,
    superSubset,
    truthTable,
    uninstall,
    verify.data,
    verify.dir.exp,
    verify.minimize,
    verify.inf.test,
    verify.qca,
    verify.mqca,
    verify.tt,
    Xplot,
    XYplot,

    nec,
    suf,
    getName,
    getSolution,
    rowDominance,
    sortMatrix,
    sortVector,
    writePrimeimp,
    writeSolution
)

S3method(print, "aE")
S3method(print, "chain")
S3method(print, "fuzzy")
S3method(print, "modelFit")
S3method(print, "mqca")
S3method(print, "panel")
S3method(print, "pic")
S3method(print, "pof")
S3method(print, "qca")
S3method(print, "sS")
S3method(print, "tt")
