export(allExpressions,
    base3rows,
    createChart,
    createMatrix,
    createString,
    demoChart,
    eqmcc,
    factorize,
    findSubsets,
    findPrimes,
    getRow,
    prettyString,
    prettyTable,
    qmcc,
    readTosmana,
    rowDominance,
    rowDominance2,
    solveChart,
    sortMatrix,
    sortVector,
    truthTable,
    verify.qmcc,
    verify.truthTable,
    writePrimeimp,
    writeSolution)
